# fichiers IntelliJ ignorés
.idea/
*.iml

# fichiers Maven
target/
**/target/

# Spring Boot build artifacts
BOOT-INF/

# Coverage / reports
coverage/
**/coverage/

# Logs
*.log

# OS
.DS_Store
Thumbs.db
